{{> head }}
{{> navbar }}


<div class="row">

    <div class="col-8">Lorem ipsum dolor sit amet consectetur adipisicing elit. Non temporibus debitis sunt saepe vel adipisci accusantium placeat unde illum voluptatibus, iusto ipsum assumenda reprehenderit incidunt laboriosam expedita alias molestiae nisi!</div>

    <div class="col-4">
        <img src="assets/img/batman.jpg" class="img-thumbnail">
    </div>
</div>


{{> footer }}